{% extends 'MainPage/base.html' %}

<head>
    <title>Опросы</title>
</head>

{% block title %}
Опросы по {{ title }}
{% endblock %}

{% block content %}
    <h1>congrats</h1>
    <h4>you finally got</h4>
    <h3>and now...</h3>
    <h1>How about to pass a poll?</h1>
    <img src="https://99px.ru/sstorage/86/2016/04/image_862904161042052198754.gif" alt="эх">

    {% for el in tasks %}
        <div class="alert alert-warning mt-2"
            <h3>{{ el.title }}</h3>
            <h3>{{ el.task }}</h3>
    {% endfor %}

{#    <a class="=p2 text-dark" href="{% url 'create' %}">Добавить опрос</a>#}
    <a class="p-2 link-secondary" href="/polls/create">Добавить опрос</a>
{% endblock %}