{% extends 'MainPage/base.html' %}

<head>
    <title>Про нас</title>
</head>

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
    <img src="static/img/dontunderstand.jpg" alt="эх" width="500" height="500">

    <h1>Вам стоит обратиться к опросам</h1>

    {# прикрутить возврат (с помощью script?) #}
<button name="returnMain" value="wanttoreturn">
<img style="vertical-align: middle; width: 24px;" src="https://icon-library.com/images/return-icon-png/return-icon-png-3.jpg" alt="" />
Вернуться на главную
</button>

{% endblock %}

